:root{
    --font: 'Noto Serif', serif;
    --white: #F8F8F8; 
    --light-gray: #E8E4E1;
    --brown: #C4AEA3; 
    --light-beige: #F2E6DA; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--white);
    font-family: var(--font);
}


.boxes{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    gap: 40px;
}


.who-win{ 
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

button{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    cursor: pointer;
    font-size: 1rem;
    background-color: rgb(83, 83, 237);
    color: var(--white);
    text-transform: uppercase;
    border: none;
}

button:hover{
    background-color: var(--light-beige);
    color: #001B48;
    border: 2px solid black;

}

.who-win span{
    font-size: 2rem;
}

img{
    cursor: pointer;
    
}

.click{
    border: 10px solid #001B48;
    margin: -10px;
}

.results{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
    border: 1px solid #C4AEA3;

}

.results h1{
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
}

.score-box div{
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}

.choices-box div{
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}

.my-choice span, .computer-choice span{
    margin-left: 10px;
    color: #4063a0;
}

@media (max-width: 1000px){
    img{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 800px) {
    .boxes{
        align-items: center;
        gap: 20px;
        margin-top: 15px;
    }

    img{
        width: 150px;
        height: 150px;
    }

    .click{
        border: 5px solid #001B48;
        margin: -5px;
    }

    .ai-click{
        border: 15px solid red;
    }

    .results{
        flex-direction: row;
        margin-top: 6rem;

    }

    .results h1{
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
    }

    .score-box div{
        font-size: 1rem;
    }
    
    .choices-box div{
        font-size: 1rem;
    }


}